<main class="app-shell po-font-text">
  <po-widget [p-title]="title">
    <div class="summary">
      <po-tag
        p-size="large"
        [p-type]="progressStatus"
        [p-value]="completedCount + ' concluídas'"
      />
      <po-tag p-size="large" p-type="warning" [p-value]="pendingCount + ' pendentes'" />
    </div>

    <div class="actions">
      <po-button
        p-label="Chamar API PHP"
        p-kind="primary"
        (p-click)="showHelloWorld()"
      />
    </div>

    <po-divider p-label="Tarefas" />

    <po-list-view
      [p-items]="tasks"
      [p-property-title]="'title'"
      [p-property-subtitle]="'completed'"
    >
      <ng-template p-list-view-content-template let-item>
        <div class="task-row">
          <input
            type="checkbox"
            [checked]="item.completed"
            (change)="toggleTask(item.id)"
          />
          <span [class.done]="item.completed">{{ item.title }}</span>
        </div>
      </ng-template>
    </po-list-view>
  </po-widget>
</main>
